body {
    background-color: rgb(161, 168, 201);
    width: 700px;
    margin-left: 300px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   
  }
  .navbar {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.8);

  }