<app-navbar></app-navbar>
<div class="row mt-4">
    <div class="col-6 mx-auto">
      <h2 class="text-center mb-4">Add Task for Project</h2>
      <div class="card">
        <div class="card-body">
          <form [formGroup]="addTaskGroup" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="taskId">Task ID</label>
              <input type="text" class="form-control" id="taskId" formControlName="taskId" placeholder="Enter Task ID" required>
            </div>
            <div class="form-group">
              <label for="taskName">Task Name</label>
              <input type="text" class="form-control" id="taskName" formControlName="taskName" placeholder="Enter Task Name" required>
            </div>
            <div class="form-group">
              <label for="userId">User ID</label>
              <input type="text" class="form-control" id="userId" formControlName="userId" placeholder="Enter User ID" required>
            </div>
            <div class="form-group">
              <label for="status">Status</label>
              <select class="form-control" id="status" formControlName="status" required>
                <option value="In Progress">To-Do</option>
                <option value="In Progress">In Progress</option>
                <option value="In Progress">Review</option>
                <option value="In Progress">Completed</option>
                <option value="In Progress">Re-Opened</option>
                
              </select>
            </div>
            <div class="form-group">
              <label for="taskDescription">Description</label>
              <textarea class="form-control" id="taskDescription" formControlName="taskDescription" placeholder="Enter Description"></textarea>
            </div>
            <button class="btn btn-success mb-2 mt-4" type="submit">Add Task</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
