<app-navbar></app-navbar>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<section class="contact" id="contact">
    <div class="container">
      <h2>Contact Us</h2>
      <p>Feel free to reach out to us for any inquiries, feedback, or support.</p>
    </div>
    <div class="row">
      <div class="col information">
        <div class="contact-details">
          <p><i class="fas fa-map-marker-alt"></i> 456 Main Street, Citytown, State 12345</p>
          <p><i class="fas fa-envelope"></i> For support and inquiries: support@projectsphere.com</p>
          <p><i class="fas fa-phone"></i> Phone: (123) 456-7890</p>
          <p><i class="fas fa-globe"></i> Website: www.projectsphere.com</p>
        </div>
      </div>
      <div class="col form">
        <form>
          <input type="text" placeholder="Name*" required>
          <input type="email" placeholder="Email*" required>
          <textarea placeholder="Message*" required></textarea>
          <button id="submit" type="submit">Send Message</button>
        </form>
      </div>
    </div>
  </section>
  