<app-navbar></app-navbar>

<div class="container mt-4">
  <h2>Task List<button class="btn btn-primary float-right mx-4" [routerLink]="['/addtasks']"
      [queryParams]="{ projectId: projectId }">Add Task</button></h2>
  <div class="table-responsive">
    <table class="table table-bordered table-boxed">
      <thead>
        <tr>
          <th>Task ID</th>
          <th>Task Name</th>
          <th>User ID</th>
          <th>Status</th>
          <th>Project ID</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{ task.taskId }}</td>
          <td>{{ task.taskName }}</td>
          <td>{{ task.userId }}</td>
          <td>{{ task.status }}</td>
          <td>{{ projectId }}</td>
          <td>{{ task.taskDescription }}</td>
          <td>
            <button class="btn btn-primary float-right mx-4" data-toggle="modal" data-target="#editTaskModal" (click)="openEditTaskModal(task.taskId)">Edit</button>
            <button class="btn btn-danger mx-1" (click)="deleteTask(task)">Delete</button>
            <button class="btn btn-secondary mx-1" (click)="viewComment(task.taskId)">View Comment</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="editTaskModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="editTaskId">Task ID</label>
          <input type="text" class="form-control" id="editTaskId" [(ngModel)]="selectedTask.taskId"
            placeholder="Enter Task ID" required>
        </div>
        <div class="form-group">
          <label for="editTaskName">Task Name</label>
          <input type="text" class="form-control" id="editTaskName" [(ngModel)]="selectedTask.taskName"
            placeholder="Enter Task Name" required>
        </div>
        <div class="form-group">
          <label for="editUserId">User ID</label>
          <input type="text" class="form-control" id="editUserId" [(ngModel)]="selectedTask.userId"
            placeholder="Enter User ID" required>
        </div>
        <div class="form-group">
          <label for="editStatus">Status</label>
          <select class="form-control" id="editStatus" [(ngModel)]="selectedTask.status" required>
            <option value="To-Do">To-Do</option>
            <option value="In Progress">In Progress</option>
            <option value="Review">Review</option>
            <option value="Completed">Completed</option>
            <option value="Re-Opened">Re-Opened</option>
          </select>

        </div>
        <div class="form-group">
          <label for="editTaskDescription">Description</label>
          <textarea class="form-control" id="taskDescription" formControlName="taskDescription"
            placeholder="Enter Description"></textarea>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button class="btn btn-success" data-dismiss="modal" (click)="updateTask()">Add Task</button>
      </div>
    </div>
  </div>
</div>