<app-navbar></app-navbar>

<div class="row mt-4">
  <div class="col-6 mx-auto">
    <h2 class="text-center mb-4">Add Project Form</h2>
    <div class="card">
      <div class="card-body">
        <form [formGroup]="addprojectGroup" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="projectId">Project ID</label>
            <input type="text" class="form-control" id="projectId" formControlName="projectId" placeholder="Enter Project ID" required>
          </div>
          <div class="form-group">
            <label for="projectName">Project Name</label>
            <input type="text" class="form-control" id="projectName" formControlName="projectName" placeholder="Enter Project Name" required>
          </div>
          <div class="form-group">
            <label for="projectDescription">Description</label>
            <textarea class="form-control" id="projectDescription" formControlName="projectDescription" placeholder="Enter Description"></textarea>
          </div>
          <button class="btn btn-success mb-2 mt-4" type="submit">Submit</button>
        </form>
        
      </div>
    </div>
  </div>
</div>
