<app-navbar></app-navbar>

<div class="container mt-4">
  <h2>View Projects</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-boxed">
      <thead>
        <tr>
          <th>Project ID</th>
          <th>Project Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Iterate over projects array and display project details -->
        <tr *ngFor="let project of projects">
          <td>{{ project.projectId }}</td>
          <td>{{ project.projectName }}</td>
          <td>{{ project.projectDescription }}</td>
          <td>
            <button class="btn btn-sm btn-primary mr-1" (click)="viewTasks(project.projectId)">View Tasks</button>

            <button class="btn btn-sm btn-primary mx-1" data-toggle="modal" data-target="#updateProjectModal" (click)="openUpdateProjectModal(project)">Edit</button>
             <button class="btn btn-sm btn-danger mx-1" (click)="deleteProject(project)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<div class="modal fade" id="updateProjectModal" tabindex="-1" role="dialog" aria-labelledby="updateProjectModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateProjectGroup" (ngSubmit)="submitUpdateForm()">
          <div class="form-group">
            <label for="updateProjectId">Project ID</label>
            <input type="text" class="form-control" id="updateProjectId" formControlName="projectId" placeholder="Enter Project ID" required>
          </div>
          <div class="form-group">
            <label for="updateProjectName">Project Name</label>
            <input type="text" class="form-control" id="updateProjectName" formControlName="projectName" placeholder="Enter Project Name" required>
          </div>
          <div class="form-group">
            <label for="updateProjectDescription">Description</label>
            <textarea class="form-control" id="updateProjectDescription" formControlName="projectDescription" placeholder="Enter Description"></textarea>
          </div>
          <button class="btn btn-success mb-2 mt-4" type="submit">Update</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
